@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Regular.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url("../fonts/OpenSans-Bold.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Semibold';
    src: url("../fonts/OpenSans-Semibold.woff");
    font-weight: normal;
    font-style: normal;
}

.root,
.root .viewport,
.root .scroll-bar,
.root .list-cell,
.root .table-row-cell,
.root .scroll-pane,
.root .list-view,
.root .table-view,
.root .header .bar {
    -fx-background-color: #17181b;
    -fx-border-width: 0;
}

.root .text {
    -fx-font-smoothing-type: gray;
}

.root .tooltip {
    -fx-background-color: rgba(23, 24, 27, 0.6);
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #fff;
    -fx-font-size: 1em;
}

.root .list-view,
.root .table-view {
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.root .list-view .list-cell,
.root .table-view .table-cell {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #fff;
}

.root .scroll-bar,
.root .list-view .scroll-bar {
    -fx-padding: 0 3 0 0;
}

.root InfiniteScrollPane .increment-arrow,
.root InfiniteScrollPane .decrement-arrow,
.root ListView .increment-arrow,
.root ListView .decrement-arrow,
.root Episodes .increment-arrow,
.root Episodes .decrement-arrow,
.root Seasons .increment-arrow,
.root Seasons .decrement-arrow,
.root ComboBox .list-view .increment-arrow,
.root ComboBox .list-view .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0em 0.0;
}

.root InfiniteScrollPane .track,
.root ListView .track,
.root Episodes .track,
.root Seasons .track,
.root ComboBox .list-view .track {
    -fx-background-color: #30333c;
    -fx-border-color: transparent;
    -fx-background-radius: 2em;
    -fx-border-radius: 0em;
}

.root InfiniteScrollPane .increment-button,
.root InfiniteScrollPane .decrement-button,
.root ListView .increment-button,
.root ListView .decrement-button,
.root Episodes .increment-button,
.root Episodes .decrement-button,
.root Seasons .increment-button,
.root Seasons .decrement-button,
.root ComboBox .list-view .increment-button,
.root ComboBox .list-view .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0 8 0 0;
}

.root InfiniteScrollPane .thumb,
.root ListView .thumb,
.root Episodes .thumb,
.root Saesons .thumb,
.root ComboBox .list-view .thumb {
    -fx-background-color: #83888c;
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.root InfiniteScrollPane .thumb:hover,
.root ListView .thumb:hover,
.root Episodes .thumb:hover,
.root Seasons .thumb:hover,
.root ComboBox .list-view .thumb:hover {
    -fx-background-color: #93989c;
}

.root SplitMenuButton,
.root SplitMenuButton .label,
.root SplitMenuButton .arrow-button,
.root Button {
    -fx-font-family: "Open Sans Bold";
    -fx-background-color: #1f375f;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}

.root SplitMenuButton .label,
.root SplitMenuButton .arrow-button,
.root Button {
    -fx-padding: 10 15 10 15;
}

.root SplitMenuButton:hover .label,
.root SplitMenuButton:hover .arrow-button,
.root Button:hover {
    -fx-background-color: #225694;
}

.root SplitMenuButton .arrow-button {
    -fx-border-width: 0 0 0 1;
    -fx-border-color: rgba(255, 255, 255, 0.2);
}

.root SplitMenuButton .arrow-button .arrow {
    -fx-background-color: #fff;
}

.root ProgressBar {
    -fx-padding: 0 0 0 0;
}

.root ProgressBar .track {
    -fx-background-color: #bababa;
    -fx-background-radius: 6;
}

.root ProgressBar .bar {
    -fx-background-color: #2468cc;
    -fx-padding: 5 0 0 0;
    -fx-background-radius: 6;
    -fx-background-insets: 0;
}

.root ProgressBar.error .bar {
    -fx-background-color: #d53f3f;
}

.root ComboBox {
    -fx-background-color: transparent;
}

.root .stars Icon {
    -fx-padding: 0 2 0 0;
    -fx-opacity: 1;
}

.root .stars .empty {
    -fx-text-fill: #a3a5a7;
}

.root .stars .filled {
    -fx-text-fill: #ffc900;
}

.root .close-button {
    -fx-text-fill: #ccc;
    -fx-cursor: hand;
}

.root .close-button:hover {
    -fx-text-fill: #fff;
}

.root .header .shadow {
    -fx-pref-height: 10;
    -fx-background-color: linear-gradient(rgba(0, 0, 0, 1) 10%, rgba(255, 255, 255, 0) 100%);
}

.root .header Label {
    -fx-font-family: "Open Sans Semibold";
    -fx-font-size: 12.5;
    -fx-text-fill: #c3c5c7;
    -fx-cursor: hand;
    -fx-text-alignment: center;
    -fx-padding: 10 15 5 18;
}

.root .header Label:hover {
    -fx-text-fill: #fff;
}

.root .header .bar .filter-nav-bar .active {
    -fx-text-fill: #fff;
    -fx-border-width: 0 0 4 0;
    -fx-border-color: #2d72d9;
}

.root .header .bar .filter-bar Label {
    -fx-padding: 10 5 5 18;
}

.root .header .bar .filter-bar ComboBox {
    -fx-min-width: 100;
    -fx-max-width: 100;
    -fx-padding: 6 0 0 0;
    -fx-cursor: hand;
}

.root .header .bar .filter-bar ComboBox > .list-cell {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #2d72d9;
}

.root .header .bar .filter-bar .filterGroup ComboBox .arrow {
    -fx-padding: 5 8 0 0;
    -fx-background-color: #c3c5c7;
}

.root .header .bar .filter-bar .filterGroup:hover ComboBox .arrow {
    -fx-background-color: #fff;
}

.root .header .bar .filter-bar .filterGroup ComboBox .scroll-bar {
    -fx-padding: 0 0 0 0;
}

.root .header .bar .filter-bar .filterGroup ComboBox .scroll-bar,
.root .header .bar .filter-bar .filterGroup ComboBox .list-view,
.root .header .bar .filter-bar .filterGroup ComboBox .list-view .list-cell,
.root .movie-details .subtitle-group ComboBox .scroll-bar,
.root .movie-details .subtitle-group ComboBox .list-view,
.root .movie-details .subtitle-group ComboBox .list-view .list-cell {
    -fx-background-color: rgba(23, 24, 27, 0.8);
}

.root .header .bar .filter-bar .filterGroup ComboBox .list-view .list-cell {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #c3c5c7;
    -fx-cursor: hand;
}

.root .header .bar .filter-bar .filterGroup ComboBox .list-view .list-cell:selected {
    -fx-text-fill: #fff;
    -fx-background-color: #0b131f;
    -fx-border-width: 0 0 0 4;
    -fx-border-color: #c3c5c7;
    -fx-border-style: solid;
}

.root .header .bar .filter-bar .filterGroup ComboBox .list-view .list-cell:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #0b131f;
    -fx-border-width: 0 0 0 4;
    -fx-border-color: #2d72d9;
    -fx-border-style: solid;
}

.root .header .bar .filter-icon-bar {

}

.root .header .bar .filter-icon-bar .icon {
    -fx-font-size: 1.5em;
    -fx-text-fill: #909498;
    -fx-cursor: hand;
    -fx-padding: 0 0 10 8;
}

.root .header .bar .filter-icon-bar .icon:hover {
    -fx-text-fill: #2468cc;
}

.root .header .bar .filter-icon-bar .search-field .textfield {
    -fx-font-family: "Open Sans Semibold";
    -fx-background-color: #000;
    -fx-background-radius: 2em;
    -fx-text-fill: #909498;
}

.root .header .bar .filter-icon-bar .search-field .search-icon,
.root .header .bar .filter-icon-bar .search-field .clear-icon {
    -fx-text-fill: #909498;
}

.root .background-image {
    -fx-background-color: #000;
}

.root .background-image .background-cover {
    -fx-background-color: #000;
    -fx-opacity: 0.65;
}

.root .list-section .failed {
    -fx-background-color: #17181b;
}

.root .list-section .failed Icon {
    -fx-font-size: 4em;
    -fx-text-fill: #fff;
}

.root .list-section .failed Label {
    -fx-font-family: "Open Sans Bold";
    -fx-font-size: 2em;
    -fx-text-fill: #d53f3f;
}

.root .list-section .poster-item {
    -fx-padding: 10;
    -fx-min-height: 252;
    -fx-max-height: 252;
    -fx-pref-height: 252;
    -fx-min-width: 154;
    -fx-max-width: 154;
    -fx-pref-width: 154;
    -fx-cursor: hand;
}

.root .list-section .poster-item.watched {
    -fx-opacity: 0.4;
}

.root .list-section .poster-item.watched:hover,
.root .list-section .poster-item:hover {
    -fx-opacity: 1;
}

.root .list-section .poster-item .poster-image {
    -fx-pref-width: 134;
    -fx-pref-height: 196;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.root .list-section .poster-item:hover .poster .poster-image {
    -fx-effect: dropshadow(three-pass-box, #2d72d9, 15, 0, 0, 0);
}

.root .list-section .poster-item .poster .overlay {
    visibility: hidden;
    -fx-background-color: rgba(23, 24, 27, 0.6);
}

.root .list-section .poster-item .poster:hover .overlay {
    visibility: visible;
}

.root .list-section .poster-item .poster .overlay .view,
.root .list-section .poster-item .poster .overlay .like {
    -fx-text-fill: #fff;
    -fx-opacity: 0.3;
}

.root .list-section .poster-item .poster .overlay .view:hover,
.root .list-section .poster-item .poster .overlay .like:hover {
    -fx-text-fill: #2d72d9;
    -fx-opacity: 1;
}

.root .list-section .poster-item .poster .overlay .like.liked,
.root .movie-details .favorite-section .like.liked,
.root .show-details-section .show-header .bookmark .like.liked {
    -fx-text-fill: #df2d37;
    -fx-opacity: 1.0;
}

.root .list-section .poster-item.watched .poster .overlay .view {
    -fx-text-fill: #fff;
    -fx-opacity: 1.0;
}

.root .list-section .poster-item .poster .overlay Label {
    -fx-font-family: "Open Sans Bold";
    -fx-text-fill: #fff;
    -fx-font-size: 1em;
}

.root .list-section .poster-item .title {
    -fx-font-family: "Open Sans Semibold";
    -fx-font-size: 1em;
    -fx-text-fill: #fff;
    -fx-padding: 4 0 2 0;
}

.root .list-section .poster-item .year,
.root .list-section .poster-item .seasons {
    -fx-text-fill: #5b5b5b;
    -fx-fill: #5b5b5b;
    -fx-font-size: 0.85em;
}

.root .movie-details .poster-image {
    -fx-background-radius: 2em;
}

.root .movie-details .title {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #fff;
    -fx-font-size: 38px;
    -fx-padding: 0 0 0 0;
}

.root .movie-details .metadata Label,
.root .show-details-section .metadata Label {
    -fx-font-family: "Open Sans Bold";
    -fx-text-fill: #fff;
    -fx-font-size: 1em;
}

.root .movie-details .metadata .separator,
.root .show-details-section .metadata .separator {
    -fx-text-fill: #dbdbdd;
    -fx-font-size: 5px;
    -fx-padding: 0 10 0 10;
}

.root .movie-details .overview,
.root .show-details-section .overview {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #fff;
    -fx-font-size: 1em;
}

.root .movie-details .magnet-link,
.root .show-details-section .show-details .episode-overview .magnet-link {
    -fx-text-fill: #ddd;
    -fx-cursor: hand;
    -fx-padding: 0 8 0 8;
}

.root .movie-details .magnet-link:hover,
.root .show-details-section .show-details .episode-overview .magnet-link:hover {
    -fx-text-fill: #fff;
}

.root .movie-details .health,
.root .show-details-section .show-details .episode-overview .health {
    -fx-text-fill: #737577;
    -fx-cursor: hand;
}

.root .movie-details .health.bad,
.root .show-details-section .show-details .episode-overview .health.bad {
    -fx-text-fill: #d53f3f;
}

.root .movie-details .health.medium,
.root .show-details-section .show-details .episode-overview .health.medium {
    -fx-text-fill: #ece523;
}

.root .movie-details .health.good,
.root .show-details-section .show-details .episode-overview .health.good {
    -fx-text-fill: #a3e147;
}

.root .movie-details .health.excellent,
.root .show-details-section .show-details .episode-overview .health.excellent {
    -fx-text-fill: #2ad942;
}

.root .movie-details .quality-selection .quality {
    -fx-font-family: "Open Sans Bold";
    -fx-text-fill: #fff;
    -fx-cursor: hand;
    -fx-padding: 2 10 2 10;
}

.root .movie-details .quality-selection .quality.active {
    -fx-background-color: rgba(43, 110, 210, 0.84);
    -fx-background-radius: 5em;
}

.root .movie-details .subtitle-group Tooltip {
    -fx-font-size: 1em;
}

.root .movie-details .subtitle-group,
.root .show-details-section .show-details .subtitle-group {
    -fx-cursor: hand;
}

.root .movie-details .subtitle-group Label,
.root .show-details-section .show-details .subtitle-group Label {
    -fx-font-family: "Open Sans Bold";
    -fx-text-fill: fff;
    -fx-padding: 0 5 0 0;
}

.root .movie-details .subtitle-group .language-selection .arrow,
.root .show-details-section .show-details .episode-overview .language-selection .arrow {
    -fx-text-fill: #fff;
    -fx-padding: 0 5 0 5;
}

.root .movie-details .subtitle-group .language-selection .language-popup,
.root .show-details-section .show-details .episode-overview .language-selection .language-popup {
    -fx-max-width: 140;
    -fx-min-width: 140;
    -fx-background-color: rgba(23, 24, 27, 0.8);
    -fx-padding: 10 10 10 10;
}

.root .movie-details .subtitle-group .language-selection .language-popup .language-flag,
.root .show-details-section .show-details .episode-overview .language-selection .language-popup .language-flag {
    -fx-padding: 2 2 2 2;
    -fx-cursor: hand;
}

.root .movie-details .favorite-section,
.root .movie-details .watched-section {
    -fx-cursor: hand;
    -fx-font-size: 1.2em;
}

.root .movie-details .favorite-section Icon,
.root .movie-details .watched-section Icon {
    -fx-padding: 0 5 5 0;
    -fx-text-fill: #fff;
    -fx-font-size: 1.2em;
}

.root .movie-details .watched-section .view.seen {
    -fx-text-fill: #299000;
}

.root .movie-details .favorite-section:hover Icon,
.root .movie-details .watched-section:hover Icon,
.root .show-details-section .show-header .bookmark:hover Icon {
    -fx-text-fill: #2468cc;
}

.root .movie-details .favorite-section Label,
.root .movie-details .watched-section Label {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #fff;
}

.root .show-details-section .show-header .title {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #fff;
    -fx-font-size: 28px;
    -fx-padding: 8 0 5 0;
}

.root .show-details-section .show-header .poster {
    -fx-max-height: 198;
}

.root .show-details-section .poster .poster-image {
    -fx-effect: dropshadow(three-pass-box, #17181b, 15, 0, 0, 0);
}

.root .show-details-section .show-header .bookmark {
    -fx-cursor: hand;
    -fx-padding: 5 0 8 5;
}

.root .show-details-section .show-header .bookmark Icon,
.root .show-details-section .show-header .bookmark Label {
    -fx-text-fill: #fff;
    -fx-font-size: 1.2em;
}

.root .show-details-section .show-header .bookmark .like {
    -fx-padding: 0 5 0 0;
}

.root .show-details-section .show-header .bookmark Label {
    -fx-font-family: "Open Sans Semibold";
}

.root .show-details-section .show-details {
    -fx-background-color: #17181b;
}

.root .show-details-section .show-details .section-title {
    -fx-font-family: "Open Sans SemiBold";
    -fx-text-fill: #fff;
    -fx-font-size: 24px;
}

.root .show-details-section .show-details Episodes .placeholder {
    -fx-font-family: "Open Sans Bold";
    -fx-text-fill: #fff;
    -fx-font-size: 1.5em;
}

.root .show-details-section .show-details Episodes .table-cell,
.root .show-details-section .show-details Seasons .table-cell {
    -fx-font-family: sans-serif;
    -fx-text-fill: #fff;
    -fx-font-size: 15px;
    -fx-padding: 8 10 8 10;
    -fx-cursor: hand;
    -fx-border-width: 1;
    -fx-border-color: #17181b;
}

.root .show-details-section .show-details Seasons .table-row-cell {
    -fx-font-weight: bold;
}

.root .show-details-section .show-details Episodes .table-row-cell:even,
.root .show-details-section .show-details Seasons .table-row-cell:even {
    -fx-background-color: #1f2025;
}

.root .show-details-section .show-details Episodes .table-row-cell:hover,
.root .show-details-section .show-details Seasons .table-row-cell:hover {
    -fx-background-color: #26272d;
}

.root .show-details-section .show-details Episodes .table-row-cell:selected,
.root .show-details-section .show-details Seasons .table-row-cell:selected {
    -fx-background-color: #1b2d4c;
}

.root .show-details-section .show-details Episodes .table-row-cell:empty,
.root .show-details-section .show-details Seasons .table-row-cell:empty {
    -fx-opacity: 0;
    -fx-cursor: default;
}

.root .show-details-section .show-details Episodes LabeledText,
.root .show-details-section .show-details Seasons LabeledText {
    -fx-font-family: "Open Sans Semibold";
}

.root .show-details-section .show-details Episodes TableHeaderRow,
.root .show-details-section .show-details Seasons TableHeaderRow {
    -fx-min-height: 0;
    -fx-max-height: 0;
    -fx-pref-height: 0;
    visibility: false;
}

.root .show-details-section .show-details Episodes .icon,
.root .show-details-section .show-details Seasons .icon {
    -fx-font-size: 1em;
    -fx-text-fill: rgba(255, 255, 255, 0.2);
}

.root .show-details-section .show-details Episodes .icon.watched,
.root .show-details-section .show-details Seasons .icon.watched {
    -fx-text-fill: #fff;
}

.root .show-details-section .show-details .episode-overview {
    -fx-background-color: #1f2025;
    -fx-padding: 10 10 10 10;
}

.root .show-details-section .show-details .episode-overview .episode-title {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #fff;
    -fx-font-size: 24px;
}

.root .show-details-section .show-details .episode-overview .episode-meta {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #8d9296;
}

.root .show-details-section .show-details .episode-overview .episode-synopsis {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #fff;
    -fx-padding: 10 0 0 0;
}

.root .show-details-section .show-details .episode-overview .language-selection,
.root .show-details-section .show-details .episode-overview .quality-selection .quality {
    -fx-background-color: #1f375f;
    -fx-border-color: #1f264b;
    -fx-border-width: 1;
    -fx-cursor: hand;
    -fx-padding: 3 3 3 3;
}

.root .show-details-section .show-details .episode-overview .language-selection:hover {
    -fx-background-color: #225694;
}

.root .show-details-section .show-details .episode-overview .language-selection .graphic {
    -fx-padding: 0 5 0 5;
}

.root .show-details-section .show-details .episode-overview .language-selection .name {
    -fx-font-family: "Open Sans Bold";
    -fx-text-fill: #fff;
}

.root .show-details-section .show-details .episode-overview .language-selection .arrow {
    -fx-text-alignment: center;
}

.root .show-details-section .show-details .episode-overview .quality-selection .quality {
    -fx-font-family: "Open Sans Bold";
    -fx-text-fill: #fff;
    -fx-padding: 3 10 3 10;
}

.root .show-details-section .show-details .episode-overview .quality-selection .quality.active {
    -fx-background-color: rgba(43, 110, 210, 0.84);
}

.root .player {
    -fx-background-color: #000;
}

.root .player .subtitle-track .track-line {
    -fx-text-fill: #fff;
    -fx-padding: 2 8 2 8;
}

.root .player .subtitle-track .track-line.outline {
    -fx-effect: dropshadow(one-pass-box, #000, 10, 1.0, 0, 0);
}

.root .player .subtitle-track .track-line.opaque {
    -fx-background-color: #000;
}

.root .player .subtitle-track .track-line.see-through {
    -fx-background-color: rgba(0, 0, 0, 0.4);
}

.root .player .player-header {
    -fx-background-color: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
    -fx-padding: 10 0 20 0;
}

.root .player .player-header .player-title {
    -fx-font-family: "Open Sans";
    -fx-text-fill: #fff;
    -fx-font-size: 1.8em;
}

.root .player .player-header .stats Icon,
.root .player .player-header .stats .stream-info {
    -fx-text-fill: #fff;
    -fx-font-size: 2em;
}

.root .player .player-header .stats Icon,
.root .player .player-header .stats .stream-info {
    -fx-cursor: hand;
}

.root .player .player-header .stats .player-quality {
    -fx-text-fill: #fff;
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
}

.root .player .player-header .stats .stream-info {
    -fx-padding: 0 15 0 15;
}

.root .player .player-header .stats .stream-info .info-popup {
    -fx-background-color: rgba(23, 24, 27, 0.6);
    -fx-padding: 8 8 8 8;
}

.root .player .player-header .stats .stream-info .info-popup .cell,
.root .player .player-header .stats .stream-info .info-popup .value {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}

.root .player .player-overlay {
    -fx-cursor: hand;
}

.root .player .player-controls {
    -fx-background-color: #111214;
}

.root .player .player-controls Icon,
.root .player .player-controls Label,
.root .player .player-controls LanguageSelection {
    -fx-text-fill: #f9fafc;
}

.root .player .player-controls .player-button {
    -fx-cursor: hand;
    -fx-padding: 10 15 10 15;
}

.root .player .player-controls .player-button:hover {
    -fx-text-fill: #fff;
}

.root .player .player-controls .subtitle {
    -fx-padding: 10 8 10 8;
}

.root .player .player-controls .subtitle-smaller {
    -fx-font-size: 9;
    -fx-padding: 13 8 10 8;
}

.root .player .player-controls LanguageSelection .list-view {
    -fx-min-width: 150;
    -fx-max-width: 150;
}

.root .player .player-controls LanguageSelection .list-view .list-cell {
    -fx-font-family: Arial;
    -fx-padding: 3 8 3 8;
    -fx-border-width: 0 0 0 2;
    -fx-cursor: hand;
}

.root .player .player-controls LanguageSelection .list-view .list-cell:selected {
    -fx-background-color: #0b131f;
    -fx-font-weight: bold;
    -fx-border-color: #fff;
}

.root .player .player-controls LanguageSelection .list-view .list-cell:hover {
    -fx-background-color: #2d72d9;
}

.root .player .player-controls LanguageSelection .list-view .list-cell:empty {
    -fx-background-color: #17181b;
}

.root .player .player-controls .time {
    -fx-font-family: "Open Sans";
    -fx-padding: 0 5 0 5;
}

.root .player .player-controls .slider {
    -fx-control-inner-background: #2d72d9;
}

.root .player .player-controls .slider:disabled {
    -fx-control-inner-background: gray;
}

.root .loader .status-text {
    -fx-font-family: "Open Sans Bold";
    -fx-text-fill: #f9fafc;
    -fx-font-size: 1.5em;
}

.root .loader .progress-status {
    -fx-max-width: 400;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 5;
}

.root .loader .progress-status Label {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #f9fafc;
    -fx-font-size: 1.2em;
}

.root .settings-section GridPane Separator {
    -fx-padding: 10 30 15 15;
}

.root .settings-section GridPane Separator .line {
    -fx-border-color: #3a3b3e;
    -fx-border-width: 0.5;
    -fx-border-style: solid;
}

.root .settings-section .settings-title {
    -fx-font-family: "Open Sans Bold";
    -fx-text-fill: #fff;
    -fx-font-size: 22;
    -fx-padding: 8 30 5 30;
}

.root .settings-section .sub-section {
    -fx-vgap: 8;
}

.root .settings-section .sub-section Label,
.root .settings-section .sub-section CheckBox {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #fff;
}

.root .settings-section .sub-section Icon {
    -fx-text-fill: #fff;
    -fx-cursor: hand;
    -fx-padding: 0 0 0 8;
}

.root .settings-section .sub-section Label,
.root .settings-section .sub-section CheckBox {
    -fx-padding: 0 8 0 15;
}

.root .settings-section .sub-section .subsection-title {
    -fx-min-width: 200;
    -fx-max-height: Infinity;
    -fx-font-family: "Open Sans";
    -fx-text-fill: #2d75df;
    -fx-font-size: 17;
    -fx-padding: 0 30 5 30;
    -fx-border-color: #3a3b3e;
    -fx-border-width: 0 1 0 0;
    -fx-border-style: solid;
    -fx-wrap-text: true;
    -fx-alignment: TOP_LEFT;
}

.root .settings-section .sub-section ComboBox {
    -fx-min-width: 150;
    -fx-max-width: 150;
    -fx-background-color: #393b3d;
}

.root .settings-section .sub-section ComboBox .arrow {
    -fx-background-color: #c3c5c7;
}

.root .settings-section .sub-section ComboBox > .list-cell,
.root .settings-section .sub-section ComboBox .list-view .list-cell {
    -fx-font-family: "Open Sans";
    -fx-text-fill: #c3c5c7;
    -fx-background-color: #393b3d;
    -fx-cursor: hand;
}

.root .settings-section .sub-section ComboBox .list-view {
    -fx-border-width: 1;
    -fx-border-color: #c3c5c7;
}

.root .settings-section .sub-section ComboBox .list-view .list-cell:hover {
    -fx-background-color: #0b131f;
    -fx-text-fill: #fff;
}

.root .settings-section .sub-section ComboBox.small {
    -fx-min-width: 75;
    -fx-max-width: 75;
}

.root .settings-section .sub-section CheckBox .box {
    -fx-background-color: #545454;
}

.root .settings-section .sub-section CheckBox:selected .mark {
    -fx-background-color: #4bfff4;
}

.root .settings-section .sub-section TextField {
    -fx-min-width: 250;
    -fx-font-family: "Open Sans";
    -fx-background-color: #393b3d;
    -fx-text-fill: #c3c5c7;
}