.clion/
.cmake/
.idea/
target/
cmake-build*/

assets/*/popcorn-time
assets/*/*.so
assets/*/vlc/lua/
assets/*/vlc/plugins/
assets/*/vlc/vlc-*/
assets/mac/*.dylib
assets/windows/**.dll
assets/windows/**.exe
assets/windows/vlc/lua/
assets/windows/vlc/plugins/
assets/windows/vlc/vlc-*/

**/*.iml
**/Cargo.lock