.clion/
.cmake/
.idea/
target/
cmake-build*/

assets/linux/vlc/lua/
assets/linux/vlc/plugins/
assets/linux/vlc/vlc-*/
assets/mac/vlc/lua/
assets/mac/vlc/plugins/
assets/mac/vlc/vlc-*/
assets/windows/vlc/lua/
assets/windows/vlc/plugins/
assets/windows/vlc/vlc-*/

**/*.iml
**/docker-compose.yml
**/dependency-reduced-pom.xml
**/pom.xml.versionsBackup
**/pom.xml.releaseBackup
release.properties
**/CMakeLists.txt.user
**/cmake_install.cmake
