.clion/
.cmake/
.idea/
target/
cmake-build*/

assets/*/popcorn-time
assets/linux/*.so
assets/linux/vlc/lua/
assets/linux/vlc/plugins/
assets/linux/vlc/vlc-*/
assets/mac/vlc/lua/
assets/mac/vlc/plugins/
assets/mac/vlc/vlc-*/
assets/windows/**.dll
assets/windows/**.exe
assets/windows/vlc/lua/
assets/windows/vlc/plugins/
assets/windows/vlc/vlc-*/

**/*.iml