@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.woff");
}

@font-face {
    font-family: "Open Sans Bold";
    src: url("../fonts/OpenSans-Bold.woff");
}

@font-face {
    font-family: "Open Sans Semibold";
    src: url("../fonts/OpenSans-Semibold.woff");
}

.root,
.root .viewport,
.root .scroll-bar,
.root .list-cell,
.root .table-row-cell,
.root .scroll-pane,
.root .list-view,
.root .table-view,
.root .loader,
.root .player,
.root .player-external,
.root .content-section {
    -fx-border-width: 0;
    -fx-font-size: 12px;
}

.root .mouse-disabled,
.root .mouse-disabled .loader,
.root .mouse-disabled .player,
.root .mouse-disabled .player .player-header,
.root .mouse-disabled .player .playing-next,
.root .mouse-disabled .player .player-overlay,
.root .mouse-disabled .player-external,
.root .mouse-disabled .content-section,
.root .mouse-disabled .icon,
.root .mouse-disabled .button,
.root .mouse-disabled .poster-item,
.root .mouse-disabled .episode-overview {
    -fx-cursor: none !important;
}

.root,
.root .scroll-bar,
.root .table-row-cell,
.root .table-view,
.root .loader,
.root .list-view,
.root .player-external,
.root .content-section {
    -fx-background-color: #17181b;
}

.root .viewport,
.root .scroll-pane {
    -fx-background-color: transparent;
}

.root .text {
    -fx-font-smoothing-type: gray;
}

.root .tooltip {
    -fx-background-color: rgba(23, 24, 27, 0.6);
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #fff;
    -fx-font-size: 1em;
}

.root .list-view,
.root .table-view {
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.root .list-view .list-cell,
.root .table-view .table-cell {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #fff;
}

.root .scroll-bar {
    -fx-padding: 0 3 0 0;
}

.root .scroll-bar .increment-arrow,
.root .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0em 0.0;
}

.root .scroll-bar .track {
    -fx-background-color: #30333c;
    -fx-border-color: transparent;
    -fx-background-radius: 2em;
    -fx-border-radius: 0em;
}

.root .scroll-bar .increment-button,
.root .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0 8 0 0;
}

.root .scroll-bar .thumb {
    -fx-background-color: #83888c;
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.root .scroll-bar .thumb:hover {
    -fx-background-color: #93989c;
}

.root .split-menu-button,
.root .split-menu-button .label,
.root .split-menu-button .arrow-button,
.root .button {
    -fx-font-family: "Open Sans Bold";
    -fx-background-color: #1f375f;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}

.root .button .icon {
    -fx-text-fill: #fff;
}

.root .split-menu-button .label,
.root .split-menu-button .arrow-button,
.root .button {
    -fx-padding: 10 15 10 15;
}

.root .split-menu-button:hover .label,
.root .split-menu-button:hover .arrow-button,
.root .split-menu-button:focused .label,
.root .split-menu-button:focused .arrow-button,
.root .button:hover,
.root .button:focused {
    -fx-background-color: #225694;
}

.root .split-menu-button .arrow-button {
    -fx-border-width: 0 0 0 1;
    -fx-border-color: rgba(255, 255, 255, 0.2);
}

.root .split-menu-button .arrow-button .arrow {
    -fx-background-color: #fff;
}

.root ProgressBar {
    -fx-padding: 0 0 0 0;
}

.root ProgressBar .track {
    -fx-background-color: #bababa;
    -fx-background-radius: 6;
}

.root ProgressBar .bar {
    -fx-background-color: #2468cc;
    -fx-padding: 5 0 0 0;
    -fx-background-radius: 6;
    -fx-background-insets: 0;
}

.root ProgressBar.error .bar {
    -fx-background-color: #d53f3f;
}

.root ComboBox {
    -fx-background-color: transparent;
}

.root .check-box .box {
    -fx-background-color: #545454;
    -fx-border-width: 0;
}

.root .check-box:selected .mark {
    -fx-background-color: #4bfff4;
}

.root .stars Icon {
    -fx-padding: 0 2 0 0;
    -fx-opacity: 1;
}

.root .stars .empty {
    -fx-text-fill: #a3a5a7;
}

.root .stars .filled {
    -fx-text-fill: #ffc900;
}

.root .close-button {
    -fx-text-fill: #ccc;
    -fx-cursor: hand;
}

.root .close-button:hover {
    -fx-text-fill: #fff;
}

.root .content-section .os-buttons {
    -fx-pref-width: 141px;
    -fx-max-width: 141px;
}

.root .content-section .os-buttons .os-button {
    -fx-pref-width: 47px;
    -fx-pref-height: 28px;
    -fx-cursor: hand;
}

.root .content-section .os-buttons .os-button:hover {
    -fx-background-color: #333437;
}

.root .content-section .os-buttons .os-button.close:hover {
    -fx-background-color: #e81123;
}

.root .filter-bar .label {
    -fx-font-family: "Open Sans Bold";
    -fx-text-fill: #fff;
    -fx-cursor: hand;
    -fx-alignment: center-left;
    -fx-label-padding: 0 8 0 0;
}

.root .filter-bar ComboBox {
    -fx-min-width: 100;
    -fx-max-width: 100;
    -fx-padding: 6 0 0 0;
    -fx-cursor: hand;
}

.root .filter-bar .label,
.root .filter-bar ComboBox {
    -fx-font-size: 1.2em;
    -fx-pref-height: 2em;
    -fx-padding: 0 0 0 0;
}

.root .filter-bar ComboBox > .list-cell {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #2d72d9;
}

.root .filter-bar ComboBox:focused > .list-cell,
.root .filter-bar ComboBox:focused {
    -fx-background-color: #0d2240;
}

.root .filter-bar .filterGroup ComboBox .arrow {
    -fx-padding: 5 8 0 0;
    -fx-background-color: #c3c5c7;
}

.root .filter-bar .filterGroup:hover ComboBox .arrow {
    -fx-background-color: #fff;
}

.root .filter-bar .filterGroup ComboBox .scroll-bar {
    -fx-padding: 0 0 0 0;
}

.root .filter-bar .filterGroup ComboBox .scroll-bar,
.root .filter-bar .filterGroup ComboBox .list-view,
.root .filter-bar .filterGroup ComboBox .list-view .list-cell,
.root .movie-details .subtitle-group ComboBox .scroll-bar,
.root .movie-details .subtitle-group ComboBox .list-view,
.root .movie-details .subtitle-group ComboBox .list-view .list-cell {
    -fx-background-color: rgba(23, 24, 27, 0.8);
}

.root .filter-bar .filterGroup ComboBox .list-view .list-cell {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #c3c5c7;
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 4;
}

.root .filter-bar .filterGroup ComboBox .list-view .list-cell:selected {
    -fx-text-fill: #fff;
    -fx-background-color: #0b131f;
    -fx-border-color: #c3c5c7;
    -fx-border-style: solid;
}

.root .filter-bar .filterGroup ComboBox .list-view .list-cell:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #0b131f;
    -fx-border-color: #2d72d9;
    -fx-border-style: solid;
}

.root .header .bar .filter-icon-bar .icon {
    -fx-font-size: 1.5em;
    -fx-text-fill: #909498;
    -fx-cursor: hand;
    -fx-padding: 0 0 10 8;
}

.root .header .bar .filter-icon-bar .icon.active {
    -fx-text-fill: #2d72d9;
}

.root .header .bar .filter-icon-bar .icon:hover {
    -fx-text-fill: #2468cc;
}

.root .background-image {
    -fx-background-color: #000;
}

.root .background-image .background-cover {
    -fx-background-color: #000;
    -fx-opacity: 0.65;
}

.root .list-section .failed {
    -fx-background-color: #17181b;
}

.root .list-section .failed .icon {
    -fx-font-size: 4em;
    -fx-text-fill: #fff;
}

.root .list-section .failed .button .icon {
    -fx-font-size: 1em;
}

.root .list-section .failed Label {
    -fx-font-family: "Open Sans Bold";
    -fx-font-size: 2em;
    -fx-text-fill: #d53f3f;
}

.root .list-section .poster-item {
    -fx-padding: 10;
    -fx-pref-height: 252;
    -fx-pref-width: 154;
    -fx-cursor: hand;
}

.root .list-section .poster-item.watched {
    -fx-opacity: 0.4;
}

.root .list-section .poster-item.watched:hover,
.root .list-section .poster-item.watched:hover,
.root .list-section .poster-item.watched:focused {
    -fx-opacity: 1;
}

.root .list-section .poster-item .poster-image {
    -fx-pref-width: 134;
    -fx-pref-height: 196;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.root .list-section .poster-item:focused .poster .poster-image,
.root .list-section .poster-item:hover .poster .poster-image {
    -fx-effect: dropshadow(three-pass-box, #2d72d9, 15, 0, 0, 0);
}

.root .list-section .poster-item .poster .overlay {
    visibility: hidden;
    -fx-background-color: rgba(23, 24, 27, 0.6);
    -fx-padding: 0 0 0 0;
}

.root .list-section .poster-item .poster:hover .overlay {
    visibility: visible;
}

.root .list-section .poster-item .poster .overlay .view,
.root .list-section .poster-item .poster .overlay .like {
    -fx-text-fill: #fff;
    -fx-opacity: 0.3;
}

.root .list-section .poster-item .poster .overlay .view:hover,
.root .list-section .poster-item .poster .overlay .like:hover {
    -fx-text-fill: #2d72d9;
    -fx-opacity: 1;
}

.root .list-section .poster-item .poster .overlay .like.liked,
.root .show-details-section .show-details .bookmark .like.liked {
    -fx-text-fill: #df2d37;
    -fx-opacity: 1.0;
}

.root .list-section .poster-item.watched .poster .overlay .view {
    -fx-text-fill: #fff;
    -fx-opacity: 1.0;
}

.root .list-section .poster-item .poster .overlay Label {
    -fx-font-family: "Open Sans Bold";
    -fx-text-fill: #fff;
    -fx-font-size: 1em;
}

.root .list-section .poster-item .title {
    -fx-font-family: "Open Sans Bold";
    -fx-font-size: 1em;
    -fx-text-fill: #fff;
    -fx-padding: 4 0 2 0;
}

.root .list-section .poster-item .year,
.root .list-section .poster-item .seasons {
    -fx-font-family: "Open Sans Bold";
    -fx-text-fill: #808080;
    -fx-fill: #808080;
    -fx-font-size: 0.85em;
}

.root .list-section .overlay,
.root .content-section .overlay {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.root .movie-details .poster .poster-image {
    -fx-background-radius: 2em;
}

.root .movie-details .poster .corner-button,
.root .show-details-section .poster .corner-button {
    -fx-max-width: 6em;
    -fx-max-height: 6em;
    -fx-cursor: hand;
}

.root .movie-details .poster .corner-button .corner,
.root .show-details-section .poster .corner-button .corner {
    -fx-fill: rgba(0, 0, 0, 0.3);
}

.root .movie-details .poster .corner-button .icon,
.root .show-details-section .poster .corner-button .icon {
    -fx-font-size: 2em;
    -fx-text-fill: #ccc;
    -fx-padding: 8 8 0 8;
}

.root .movie-details .poster .corner-button .icon.seen,
.root .show-details-section .poster .corner-button .icon.seen {
    -fx-text-fill: #299000;
}

.root .movie-details .poster .corner-button .icon.liked,
.root .show-details-section .poster .corner-button .icon.liked {
    -fx-text-fill: #df2d37;
}

.root .movie-details .poster .corner-button:hover .icon.seen,
.root .movie-details .poster .corner-button:hover .icon.liked,
.root .movie-details .poster .corner-button:hover .icon,
.root .show-details-section .poster .corner-button:hover .icon.seen,
.root .show-details-section .poster .corner-button:hover .icon.liked,
.root .show-details-section .poster .corner-button:hover .icon {
    -fx-text-fill: #2d72d9;
}

.root .movie-details .title {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #fff;
    -fx-font-size: 38px;
    -fx-padding: 0 0 0 0;
}

.root .movie-details .metadata Label,
.root .show-details-section .metadata Label {
    -fx-font-family: "Open Sans Bold";
    -fx-text-fill: #fff;
    -fx-font-size: 1em;
}

.root .movie-details .metadata .separator,
.root .show-details-section .metadata .separator {
    -fx-text-fill: #dbdbdd;
    -fx-font-size: 5px;
    -fx-padding: 0 10 0 10;
}

.root .movie-details .overview,
.root .show-details-section .overview {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #fff;
    -fx-font-size: 1em;
    -fx-padding: 10 0 0 0;
}

.root .show-details-section .overview {
    -fx-min-height: 200;
}

.root .movie-details .magnet-link,
.root .show-details-section .magnet-link {
    -fx-text-fill: #ddd;
    -fx-cursor: hand;
    -fx-padding: 0 8 0 8;
}

.root .movie-details .magnet-link:hover,
.root .show-details-section .magnet-link:hover {
    -fx-text-fill: #fff;
}

.root .movie-details .health,
.root .show-details-section .health {
    -fx-text-fill: #737577;
    -fx-cursor: hand;
    -fx-padding: 0 0 0 5;
}

.root .movie-details .health.bad,
.root .show-details-section .health.bad {
    -fx-text-fill: #d53f3f;
}

.root .movie-details .health.medium,
.root .show-details-section .health.medium {
    -fx-text-fill: #ece523;
}

.root .movie-details .health.good,
.root .show-details-section .health.good {
    -fx-text-fill: #a3e147;
}

.root .movie-details .health.excellent,
.root .show-details-section .health.excellent {
    -fx-text-fill: #2ad942;
}

.root .movie-details .watch-now .context-menu,
.root .overlay .overlay-content .watch-now .context-menu,
.root .torrent-details .watch-now .context-menu {
    -fx-background-color: transparent;
    -fx-padding: 2 0 2 0;
}

.root .movie-details .watch-now .menu-item,
.root .overlay .overlay-content .watch-now .menu-item,
.root .torrent-details .watch-now .menu-item {
    -fx-background-color: rgb(23, 24, 27);
    -fx-text-fill: #ccc;
    -fx-padding: 0;
    -fx-cursor: hand;
}

.root .movie-details .watch-now .menu-item.active,
.root .overlay .overlay-content .watch-now .menu-item.active,
.root .torrent-details .watch-now .menu-item.active {
    -fx-background-color: #225694;
    -fx-text-fill: #fff;
}

.root .movie-details .watch-now .menu-item:focused,
.root .overlay .overlay-content .watch-now .menu-item:focused,
.root .torrent-details .watch-now .menu-item:focused {
    -fx-background-color: #226e94;
    -fx-text-fill: #fff;
}

.root .movie-details .watch-now .menu-item .label,
.root .overlay .overlay-content .watch-now .menu-item .label,
.root .torrent-details .watch-now .menu-item .label {
    -fx-background-color: transparent;
}

.root .movie-details .watch-now .menu-item .graphic-container,
.root .overlay .overlay-content .watch-now .menu-item .graphic-container,
.root .torrent-details .watch-now .menu-item .graphic-container {
    -fx-padding: 0 8 0 8;
}

.root .movie-details .quality-selection .quality {
    -fx-font-family: "Open Sans Bold";
    -fx-text-fill: #fff;
    -fx-cursor: hand;
    -fx-padding: 2 10 2 10;
    -fx-background-radius: 5em;
}

.root .movie-details .quality-selection .quality.selected {
    -fx-background-color: rgba(43, 110, 210, 0.84);
}

.root .movie-details .quality-selection .quality:hover,
.root .movie-details .quality-selection .quality:focused,
.root .movie-details .quality-selection .quality.selected:hover,
.root .movie-details .quality-selection .quality.selected:focused {
    -fx-background-color: rgba(46, 119, 230, 0.5);
}

.root .movie-details .subtitle-group Tooltip {
    -fx-font-size: 1em;
}

.root .movie-details .subtitle-group,
.root .show-details-section .show-details .subtitle-group {
    -fx-cursor: hand;
}

.root .movie-details .subtitle-group Label,
.root .show-details-section .show-details .subtitle-group Label {
    -fx-font-family: "Open Sans Bold";
    -fx-text-fill: fff;
    -fx-padding: 0 5 0 0;
}

.root .movie-details .subtitle-group .language-selection .arrow,
.root .show-details-section .language-selection .arrow {
    -fx-text-fill: #fff;
    -fx-padding: 0 5 0 5;
}

.root .movie-details .subtitle-group .language-selection .language-popup,
.root .show-details-section .language-selection .language-popup {
    -fx-max-width: 140;
    -fx-min-width: 140;
    -fx-background-color: rgba(23, 24, 27, 0.8);
    -fx-padding: 10 10 10 10;
}

.root .movie-details .subtitle-group .language-selection .language-popup .language-flag,
.root .show-details-section .language-selection .language-popup .language-flag {
    -fx-padding: 2 2 2 2;
    -fx-cursor: hand;
}

.root .movie-details .subtitle-group .language-selection .progress-indicator {
    -fx-max-width: 10;
    -fx-max-height: 10;
}

.root .movie-details .favorite-section,
.root .movie-details .watched-section {
    -fx-cursor: hand;
    -fx-font-size: 1.2em;
}

.root .movie-details .favorite-section Icon,
.root .movie-details .watched-section Icon {
    -fx-padding: 0 5 5 0;
    -fx-text-fill: #fff;
    -fx-font-size: 1.2em;
}

.root .movie-details .favorite-section:hover Label,
.root .movie-details .watched-section:hover Label {
    -fx-text-fill: #2468cc;
    -fx-font-size: 1.2em;
}

.root .movie-details .favorite-section Label,
.root .movie-details .watched-section Label {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #fff;
}

.root .show-details-section .show-details .title {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #fff;
    -fx-font-size: 28px;
    -fx-padding: 0;
}

.root .show-details-section .show-details .poster {
    -fx-pref-width: 10em;
    -fx-pref-height: 20em;
}

.root .show-details-section .show-details .poster .poster-image {
    -fx-effect: dropshadow(three-pass-box, #17181b, 15, 0, 0, 0);
}

.root .show-details-section .show-details .section-title {
    -fx-font-family: "Open Sans SemiBold";
    -fx-text-fill: #fff;
    -fx-font-size: 24px;
}

.root .show-details-section .show-details Episodes .placeholder {
    -fx-font-family: "Open Sans Bold";
    -fx-text-fill: #fff;
    -fx-font-size: 1.5em;
}

.root .show-details-section .show-details .episode-overview {
    -fx-padding: 10 10 10 10;
    -fx-cursor: hand;
}

.root .show-details-section .show-details .episode-overview .label {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #fff;
}

.root .show-details-section .show-details .episode-overview .title {
    -fx-font-family: "Open Sans Bold";
    -fx-font-size: 2em;
}

.root .show-details-section .show-details .episode-overview .metadata {
    -fx-text-fill: #8d9296;
}

.root .show-details-section .show-details .episode-overview .synopsis {
    -fx-max-width: 650;
}

.root .show-details-section .show-details .episode-overview .episode-graphic {
    -fx-pref-width: 320px;
    -fx-pref-height: 190px;
    -fx-background-color: rgba(23, 24, 27, 0.5);
    -fx-border-color: transparent;
    -fx-border-width: 3;
}

.root .show-details-section .show-details .episode-overview .episode-graphic.watched {
    -fx-opacity: 0.5;
}

.root .show-details-section .show-details .episode-overview .episode-graphic .icon {
    -fx-font-size: 2em;
    -fx-text-fill: #fff;
    -fx-padding: 10;
}

.root .show-details-section .show-details .episode-overview .episode-graphic .episode-number {
    -fx-text-fill: #fff;
    -fx-font-family: "Open Sans Bold";
    -fx-background-color: rgba(23, 24, 27, 0.75);
    -fx-border-color: #2d72d9;
    -fx-border-width: 0 0 0 3;
    -fx-padding: 3 15 3 15;
}

.root .show-details-section .show-details .episode-overview:hover .episode-graphic,
.root .show-details-section .show-details .episode-overview:focused .episode-graphic,
.root .show-details-section .show-details .episode-overview:hover .episode-graphic.watched,
.root .show-details-section .show-details .episode-overview:focused .episode-graphic.watched {
    -fx-border-color: #2d72d9;
    -fx-opacity: 1;
}

.root .show-details-section .show-details .episode-overview:hover .episode-graphic .episode-number,
.root .show-details-section .show-details .episode-overview:focused .episode-graphic .episode-number {
    -fx-background-color: rgba(27, 67, 128, 0.75);
}

.root .show-details-section .language-selection,
.root .show-details-section .quality-selection .quality {
    -fx-background-color: #1f375f;
    -fx-border-color: #1f264b;
    -fx-border-width: 1;
    -fx-cursor: hand;
    -fx-padding: 3 3 3 3;
}

.root .show-details-section .language-selection:hover {
    -fx-background-color: #225694;
}

.root .show-details-section .language-selection .graphic {
    -fx-padding: 0 5 0 5;
}

.root .show-details-section .language-selection .name {
    -fx-font-family: "Open Sans Bold";
    -fx-text-fill: #fff;
}

.root .show-details-section .language-selection .arrow {
    -fx-text-alignment: center;
}

.root .show-details-section .quality-selection {
    -fx-padding: 0 0 0 0;
}

.root .show-details-section .quality-selection .quality {
    -fx-font-family: "Open Sans Bold";
    -fx-text-fill: #fff;
    -fx-padding: 3 10 3 10;
}

.root .show-details-section .quality-selection .quality.selected {
    -fx-background-color: rgba(43, 110, 210, 0.84);
}

.root .player {
    -fx-background-color: #000;
}

.root .player .buffer {
    -fx-max-width: 75;
    -fx-max-height: 75;
    -fx-background-color: rgba(0, 0, 0, 0.4);
    -fx-background-radius: 1em;
    -fx-padding: 10 10 10 10;
}

.root .player .subtitle-track .track-line {
    -fx-padding: 2 8 2 8;
}

.root .player .subtitle-track .track-line .label {
    -fx-text-fill: #fff;
}

.root .player .subtitle-track .track-line.outline .label {
    -fx-effect: dropshadow(one-pass-box, #000, 10, 1.0, 0, 0);
}

.root .player .subtitle-track .track-line.opaque {
    -fx-background-color: #000;
}

.root .player .subtitle-track .track-line.see-through {
    -fx-background-color: rgba(0, 0, 0, 0.4);
}

.root .player .player-header {
    -fx-background-color: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
    -fx-padding: 10 0 20 0;
}

.root .player .player-header .title {
    -fx-font-family: "Open Sans";
    -fx-text-fill: #fff;
    -fx-font-size: 1.8em;
}

.root .player .player-header .stats Icon,
.root .player .player-header .stats .stream-info {
    -fx-text-fill: #fff;
    -fx-font-size: 2em;
}

.root .player .player-header .stats Icon,
.root .player .player-header .stats .stream-info {
    -fx-cursor: hand;
}

.root .player .player-header .stats .player-quality {
    -fx-text-fill: #fff;
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
}

.root .player .player-header .stats .stream-info {
    -fx-padding: 0 15 0 15;
}

.root .player .player-header .stats .stream-info .info-popup {
    -fx-background-color: rgba(23, 24, 27, 0.6);
    -fx-padding: 8 8 8 8;
}

.root .player .player-header .stats .stream-info .info-popup .cell,
.root .player .player-header .stats .stream-info .info-popup .value {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}

.root .player .player-overlay {
    -fx-cursor: hand;
}

.root .player .video-info {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #fff;
    -fx-font-size: 1.5em;
}

.root .player .player-controls {
    -fx-background-color: #111214;
}

.root .player .player-controls .icon {
    -fx-pref-width: 40px;
    -fx-text-alignment: center;
    -fx-text-overrun: CLIP;
}

.root .player .player-controls .icon,
.root .player .player-controls .label,
.root .player .player-controls LanguageSelection {
    -fx-text-fill: #f9fafc;
}

.root .player .player-controls .player-button {
    -fx-cursor: hand;
    -fx-padding: 10 15 10 15;
}

.root .player .player-controls .player-button:hover {
    -fx-text-fill: #fff;
}

.root .player .player-controls .subtitle {
    -fx-padding: 10 8 10 8;
}

.root .player .player-controls .subtitle-smaller {
    -fx-font-size: 9;
    -fx-padding: 13 8 10 8;
}

.root .player .player-controls .tooltip {
    -fx-font-size: 12;
}

.root .player .player-controls .menu-button .context-menu,
.root .player .player-controls .list-view {
    -fx-min-width: 200;
    -fx-max-width: 200;
    -fx-background-color: #17181b;
}

.root .player .player-controls .menu-button .context-menu .menu-item,
.root .player .player-controls .list-view .list-cell {
    -fx-padding: 3 8 3 8;
    -fx-border-width: 0 0 0 2;
    -fx-background-color: #17181b;
    -fx-cursor: hand;
}

.root .player .player-controls .menu-button .context-menu .menu-item {
    -fx-font-family: "Open Sans Semibold";
}

.root .player .player-controls .list-view .list-cell {
    -fx-font-family: Arial;
}

.root .player .player-controls .menu-button .context-menu .menu-item:selected,
.root .player .player-controls .list-view .list-cell:selected {
    -fx-background-color: #0b131f;
    -fx-font-weight: bold;
    -fx-border-color: #fff;
}

.root .player .player-controls .menu-button .context-menu .menu-item:hover,
.root .player .player-controls .menu-button .context-menu .menu-item:focused,
.root .player .player-controls .list-view .list-cell:hover,
.root .player .player-controls .list-view .list-cell:focused {
    -fx-background-color: #2d72d9;
}

.root .player .player-controls .list-view .list-cell:empty {
    -fx-background-color: #17181b;
}

.root .player .player-controls .time {
    -fx-font-family: "Open Sans";
    -fx-padding: 0 5 0 5;
}

.root .player .player-controls .progress {
    -fx-min-height: 14px;
    -fx-max-height: 14px;
}

.root .player .player-controls .progress .background-track {
    -fx-background-color: #ccc;
}

.root .player .player-controls .progress .play-progress {
    -fx-background-color: #2d72d9;
}

.root .player .player-controls .progress .load-progress {
    -fx-background-color: #80b3ff;
}

.root .player .player-controls .progress .slider .track {
    -fx-background-color: null;
}

.root .player .player-controls .progress .slider .thumb,
.root .player .player-controls .volume-popup .volume-slider .slider .thumb {
    -fx-background-color: linear-gradient(#fdfdfd 10%, #e2e2e2e2 100%);
    -fx-background-radius: 0;
}

.root .player .player-controls .progress .slider .thumb:hover,
.root .player .player-controls .volume-popup .volume-slider .slider .thumb:hover {
    -fx-background-color: linear-gradient(#fdfdfd 10%, #93989c 100%);
}

.root .player .player-controls .volume-popup {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.root .player .player-controls .volume-popup {
    -fx-padding: 10 15 10 15;
}

.root .player .player-controls .volume-popup .volume-slider .slider .track {
    -fx-background-color: null;
}

.root .player .player-controls .volume-popup .volume-slider .background-track {
    -fx-background-color: #30333c;
}

.root .player .player-controls .volume-popup .volume-slider .volume-track {
    -fx-background-color: #2d72d9;
}

.root .player .player-controls .menu-button .label {
    -fx-padding: 0;
}

.root .player .player-controls .menu-button .arrow-button,
.root .player .player-controls .menu-button .arrow-button .arrow {
    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
    -fx-padding: 0 0 0 0;
}

.root .player .playing-next {
    -fx-min-width: 400px;
    -fx-max-width: 450px;
    -fx-min-height: 100px;
    -fx-max-height: 140px;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-cursor: hand;
}

.root .player .playing-next .poster {
    -fx-pref-width: 100px;
    -fx-pref-height: 140px;
}

.root .player .playing-next:hover,
.root .player .playing-next:focused {
    -fx-background-color: rgba(45, 114, 217, 0.5);
}

.root .player .playing-next:hover .button,
.root .player .playing-next:focused .button {
    -fx-background-color: #2d72d9;
    -fx-text-fill: #fff;
}

.root .player .playing-next:hover .button:hover,
.root .player .playing-next:hover .button:focused {
    -fx-background-color: #fff;
    -fx-text-fill: #1f375f;
}

.root .player .playing-next .info {
    -fx-text-fill: #fff;
    -fx-padding: 0 10 0 10;
}

.root .player .playing-next .show-name {
    -fx-font-family: "Open Sans Semibold";
    -fx-font-size: 1.5em;
}

.root .player .playing-next .episode-title {
    -fx-font-family: "Open Sans Semibold";
    -fx-font-size: 1.25em;
}

.root .player .playing-next .episode-number {
    -fx-font-family: "Open Sans Bold";
    -fx-font-size: 1em;
}

.root .player .playing-next .playing-in {
    -fx-font-family: "Open Sans Bold";
    -fx-font-size: 1.5em;
    -fx-text-fill: #2d72d9;
}

.root .player .playing-next:hover .playing-in,
.root .player .playing-next:focused .playing-in {
    -fx-text-fill: #fff;
}

.root .player .playing-next .playing-in-countdown {
    -fx-font-family: "Open Sans Bold";
    -fx-font-size: 2.5em;
    -fx-text-fill: #fff;
    -fx-alignment: center;
}

.root .player .playing-next .button {
    -fx-padding: 5 15 5 15;
}

.root .loader .status-text,
.root .player-external .title-text {
    -fx-font-family: "Open Sans Bold";
    -fx-text-fill: #f9fafc;
    -fx-font-size: 1.5em;
}

.root .player-external .title-text {
    -fx-font-size: 2em;
}

.root .loader .progress-status,
.root .player-external .progress-status {
    -fx-max-width: 400;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 5;
}

.root .loader .progress-status Label,
.root .player-external .progress-status Label {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #f9fafc;
    -fx-font-size: 1.2em;
}

.root .player-external .time {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #fff;
    -fx-font-size: 1.25em;
}

.root .player-external .player-control-item {
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 2.5em;
}

.root .settings-section,
.root .settings-section .viewport,
.root .settings-section .scroll-pane {
    -fx-background-color: #17181b;
}

.root .settings-section .settings-section-content {
    -fx-padding: 0 0 20 0;
}

.root .settings-section GridPane Separator {
    -fx-padding: 10 30 15 15;
}

.root .settings-section .sub-section .separator .line {
    -fx-border-color: #3a3b3e;
    -fx-border-width: 0.5;
    -fx-border-style: solid;
}

.root .settings-section .settings-title {
    -fx-font-family: "Open Sans Bold";
    -fx-text-fill: #fff;
    -fx-font-size: 26px;
    -fx-padding: 8 30 5 30;
}

.root .settings-section .sub-section {
    -fx-vgap: 8;
}

.root .settings-section .sub-section .label,
.root .settings-section .sub-section .text-field,
.root .settings-section .sub-section .button,
.root .settings-section .sub-section .check-box,
.root .settings-section .sub-section .combo-box > .list-cell,
.root .settings-section .sub-section .combo-box .list-view .list-cell {
    -fx-font-family: "Open Sans Semibold", "Open Sans", sans-serif;
    -fx-font-size: 1.2em;
    -fx-text-fill: #c3c5c7;
}

.root .settings-section .sub-section Icon {
    -fx-text-fill: #c3c5c7;
    -fx-cursor: hand;
    -fx-padding: 0 0 0 8;
}

.root .settings-section .sub-section .label,
.root .settings-section .sub-section .check-box,
.root .settings-section .sub-section .button-holder {
    -fx-padding: 0 8 0 15;
}

.root .settings-section .settings-actions {
    -fx-padding: 0 0 0 15;
}

.root .settings-section .settings-actions .label {
    -fx-font-size: 1em;
    -fx-padding: 0 0 0 3;
}

.root .settings-section .sub-section .subsection-title {
    -fx-min-width: 15em;
    -fx-max-width: 15em;
    -fx-max-height: Infinity;
    -fx-font-family: "Open Sans Semibold", "Open Sans", sans-serif;
    -fx-text-fill: #2d75df;
    -fx-font-size: 2em;
    -fx-padding: 0 30 5 30;
    -fx-border-color: #3a3b3e;
    -fx-border-width: 0 1 0 0;
    -fx-border-style: solid;
    -fx-wrap-text: true;
    -fx-alignment: TOP_LEFT;
}

.root .settings-section .sub-section .subsection-label {
    -fx-pref-width: 12em;
}

.root .settings-section .additional-info {
    -fx-font-style: italic;
}

.root .settings-section .sub-section .combo-box {
    -fx-min-width: 200;
    -fx-max-width: 200;
    -fx-background-color: #393b3d;
    -fx-border-width: 1;
    -fx-border-color: transparent;
}

.root .settings-section .sub-section .combo-box .arrow {
    -fx-background-color: #c3c5c7;
}

.root .settings-section .sub-section .combo-box > .list-cell,
.root .settings-section .sub-section .combo-box .list-view .list-cell {
    -fx-text-fill: #c3c5c7;
    -fx-background-color: #393b3d;
    -fx-cursor: hand;
}

.root .settings-section .sub-section .combo-box:hover,
.root .settings-section .sub-section .combo-box:focused,
.root .settings-section .sub-section .text-field:hover,
.root .settings-section .sub-section .text-field:focused,
.root .settings-section .sub-section .combo-box .list-view {
    -fx-border-width: 1;
    -fx-border-color: #c3c5c7;
}

.root .settings-section .sub-section .combo-box .list-view .list-cell:hover {
    -fx-background-color: #0b131f;
    -fx-text-fill: #fff;
}

.root .settings-section .sub-section .combo-box .box {
    -fx-background-color: #545454;
}

.root .settings-section .sub-section .combo-box:selected .mark {
    -fx-background-color: #4bfff4;
}

.root .settings-section .sub-section .text-field,
.root .settings-section .sub-section .text-field.long {
    -fx-min-width: 350;
    -fx-max-width: 350;
    -fx-background-color: #393b3d;
    -fx-text-fill: #c3c5c7;
    -fx-prompt-text-fill: #646566;
    -fx-border-width: 1;
    -fx-border-color: transparent;
}

.root .settings-section .sub-section .combo-box.small,
.root .settings-section .sub-section .text-field.small {
    -fx-min-width: 100;
    -fx-max-width: 100;
}

.root .torrent-collection .torrent-list TableHeaderRow {
    -fx-min-height: 0;
    -fx-max-height: 0;
    -fx-pref-height: 0;
    visibility: false;
}

.root .torrent-collection .torrent-list .table-cell {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: rgba(255, 255, 255, 0.06);
    -fx-border-style: solid;
    -fx-cursor: hand;
    -fx-padding: 10 15 10 15;
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #eee;
}

.root .torrent-collection .torrent-list .name-cell {
    -fx-font-size: 1.2em;
}

.root .torrent-collection .torrent-list .name-cell:hover {
    -fx-text-fill: #2d72d9;
}

.root .torrent-collection .torrent-list .table-row-cell:even {
    -fx-background-color: rgba(255, 255, 255, 0.05);
}

.root .torrent-collection .torrent-list .placeholder {
    -fx-font-family: "Open Sans Bold";
    -fx-text-fill: #fff;
    -fx-font-size: 1.3em;
}

.root .torrent-collection .torrent-list .icon-cell Icon {
    -fx-font-size: 1.5em;
    -fx-text-fill: #eee;
    -fx-opacity: 0.7;
}

.root .torrent-collection .torrent-list .icon-cell:hover Icon {
    -fx-text-fill: #fff;
    -fx-opacity: 1;
}

.root .torrent-collection .torrent-list .table-row-cell:empty,
.root .torrent-collection .torrent-list .table-cell:empty {
    -fx-opacity: 0;
    -fx-cursor: default;
}

.root .torrent-details .title {
    -fx-font-family: sans-serif;
    -fx-font-size: 24px;
    -fx-text-fill: #fff;
}

.root .torrent-details .files .list-cell {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-border-width: 0 0 1 0;
    -fx-border-color: rgba(255, 255, 255, 0.06);
    -fx-border-style: solid;
    -fx-padding: 5 15 5 15;
    -fx-cursor: hand;
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #eee;
    -fx-font-size: 1.2em;
}

.root .torrent-details .files .list-cell:hover {
    -fx-text-fill: #2d72d9;
}

.root .torrent-details .files .list-cell:empty {
    -fx-opacity: 0;
    -fx-cursor: default;
}

.root .about-section .label {
    -fx-font-family: "Open Sans";
    -fx-text-fill: #fff;
}

.root .about-section .title {
    -fx-font-family: "Open Sans Semibold";
    -fx-font-size: 4em;
    -fx-text-fill: #fafafa;
}

.root .about-section .subsection-title {
    -fx-font-family: "Open Sans Semibold", "Open Sans", sans-serif;
    -fx-text-fill: #2d75df;
    -fx-font-size: 1.5em;
    -fx-padding: 15 0 0 0;
}

.root .about-section .category-title {
    -fx-font-family: "Open Sans Semibold", "Open Sans", sans-serif;
    -fx-text-fill: #fafafa;
    -fx-font-size: 1.2em;
    -fx-padding: 15 0 0 0;
}

.root .about-section .version {
    -fx-font-family: "Open Sans Semibold";
    -fx-font-size: 2em;
    -fx-text-fill: #bbb;
}

.root .about-section .new-version {
    -fx-font-family: "Verdana", "Arial";
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-font-size: 1.5em;
    -fx-text-fill: #fff;
    -fx-padding: 0 0 0 0;
}

.root .about-section .about-details .details-card {
    -fx-background-color: linear-gradient(#253d66 10%, #1b2d4c 100%);
    -fx-background-radius: 0.5em;
    -fx-padding: 10 15 10 15;
}

.root .about-section .about-details .details-card .caret {
    -fx-cursor: hand;
    -fx-padding: 0 10 0 0;
}

.root .about-section .about-details .details-card .name {
    -fx-cursor: hand;
    -fx-font-family: "Open Sans Bold";
    -fx-font-size: 1.25em;
    -fx-text-fill: #fff;
}

.root .about-section .about-details .details-card .state {
    -fx-cursor: hand;
}

.root .about-section .about-details .details-card .description {
    -fx-font-family: "Arial";
    -fx-font-style: italic;
}

/* region SideBar */

.root .content-section .sidebar,
.root .content-section .filter {
    -fx-background-color: rgba(24, 25, 28, 0.75);
}

.root .content-section .sidebar .logo {
    -fx-min-width: 32px;
    -fx-max-width: 32px;
}

.root .content-section .sidebar .search-field,
.root .content-section .sidebar .label {
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}

.root .content-section .sidebar .icon {
    -fx-pref-width: 64px;
    -fx-font-size: 2em;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 3;
    -fx-border-style: solid;
}

.root .content-section .sidebar .search-field,
.root .content-section .sidebar .icon-text {
    -fx-pref-width: 135px;
    -fx-min-width: 0;
    -fx-font-size: 1.5em;
    -fx-font-family: "Open Sans Bold";
    -fx-alignment: center-left;
}

.root .content-section .sidebar .icon,
.root .content-section .sidebar .icon-text {
    -fx-pref-height: 60px;
}

.root .content-section .sidebar .icon:focused,
.root .content-section .sidebar .icon:hover {
    -fx-text-fill: #2d72d9;
}

.root .content-section .sidebar .icon.active {
    -fx-border-color: #2d72d9;
}

.root .content-section .sidebar .icon.active,
.root .content-section .sidebar .icon-text.active {
    -fx-background-color: rgba(11, 27, 51, 0.5);
}

.root .content-section .sidebar .icon-text {
    -fx-text-overrun: clip;
}

.root .content-section .sidebar .search-field,
.root .content-section .sidebar .search-field .text {
    -fx-text-fill: #fff;
    -fx-background-color: transparent;
    -fx-cursor: text;
    -fx-padding: 0 0 0 0;
}

.root .content-section .sidebar .search-field .clear-icon {
    -fx-pref-width: 2em;
    -fx-font-size: 1em;
    -fx-alignment: center;
}

.root .content-section .sidebar .search-field .clear-icon,
.root .content-section .sidebar .search-field .clear-icon .text {
    -fx-cursor: hand;
}

/* endregion */

/* region Show details */

.root .show-details-section .show-details .seasons {
    -fx-min-height: 3.5em;
    -fx-border-color: #808080;
    -fx-border-width: 0 0 1 0;
}

.root .show-details-section .show-details .axis .button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 3 0;
    -fx-padding: 0 10 0 0;
}

.root .show-details-section .show-details .axis .button.selected {
    -fx-border-color: #2d72d9;
}

.root .show-details-section .show-details .axis .button:focused,
.root .show-details-section .show-details .axis .button:hover,
.root .show-details-section .show-details .axis .button.selected:focused,
.root .show-details-section .show-details .axis .button.selected:hover {
    -fx-border-color: #fff;
}

.root .show-details-section .show-details .axis .button .icon {
    -fx-font-size: 1.2em;
    -fx-text-fill: rgba(255, 255, 255, 0.2);
    -fx-padding: 10 5 10 5;
}

.root .show-details-section .show-details .axis .button .icon.watched {
    -fx-text-fill: #fff;
}

/* endregion */

/* region Overlay */

.root .overlay {
    -fx-padding: 15 0 0 15;
}

.root .overlay .overlay-content {
    -fx-background-color: rgba(24, 25, 28, 0.75);
    -fx-padding: 20 20 20 20;
}

.root .overlay .overlay-content .label {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #fff;
}

.root .overlay .overlay-content .title {
    -fx-font-family: "Open Sans Bold";
    -fx-font-size: 2em;
}

.root .overlay .overlay-content .metadata {
    -fx-text-fill: #8d9296;
}

.root .overlay .overlay-content .synopsis {
    -fx-max-width: 500;
    -fx-padding: 10 0 10 0;
}

/* endregion */

/* region Playlist */

.root .playlist-popup,
.root .playlist-popup .viewport,
.root .playlist-popup .list-view {
    -fx-background-color: #17181b;
}

.root .playlist .playlist-item .title {
    -fx-font-family: "Open Sans Semibold";
    -fx-font-size: 1.5em;
    -fx-text-fill: #fafafa;
}

.root .playlist .playlist-item .caption {
    -fx-font-family: "Open Sans Semibold", "Open Sans", sans-serif;
    -fx-text-fill: #2d75df;
    -fx-font-size: 1em;
}

/* endregion */