.root .menu {
    -fx-padding: 0 0 0 0;
}

.root .menu .header-logo {
    -fx-padding: 30 0 0 0;
}

.root .menu .bar {
    -fx-background-color: #1f2023;
}

.root .menu .bar .menu-item {
    -fx-border-width: 0 5 0 0;
    -fx-border-color: transparent;
    -fx-font-size: 1.5em;
    -fx-cursor: hand;
    -fx-alignment: CENTER_LEFT;
}

.root .menu .bar .menu-item Icon,
.root .menu .bar .menu-item Label {
    -fx-text-fill: #c3c5c7;
}

.root .menu .bar .menu-item Icon {
    -fx-padding: 10 15 10 15;
}

.root .menu .bar .menu-item Label {
    -fx-font-family: "Open Sans Semibold";
}

.root .menu .bar .menu-item.active {
    -fx-background-color: #333437;
    -fx-border-color: #2d72d9;
}

.root .menu .bar .menu-item.active Icon,
.root .menu .bar .menu-item.active Label {
    -fx-text-fill: #fff;
}

.root .menu .bar .menu-item .text-field {
    -fx-font-family: "Open Sans Semibold";
    -fx-background-color: transparent;
    -fx-text-fill: #c3c5c7;
    -fx-border-width: 0;
    -fx-padding: 0 0 0 0;
}

.root .menu .bar .menu-item .text-field:focused {
    -fx-text-fill: #fff;
}

.root .menu .bar .sub-menu {
    -fx-padding: 0 0 10 0;
}

.root .menu .bar .sub-menu .menu-item {
    -fx-font-size: 1em;
}

.root .menu .bar .sub-menu .menu-item Icon {
    -fx-padding: 5 15 5 15;
}

.root .menu .bar .menu-item:focused,
.root .menu .bar .menu-item:focused.active {
    -fx-background-color: rgba(45, 114, 217, 0.5);
}

.root .menu .bar .menu-item:focused Icon,
.root .menu .bar .menu-item:focused Label,
.root .menu .bar .menu-item:focused .text-field {
    -fx-text-fill: #fff;
}

.root .menu .shadow {
    -fx-pref-width: 10;
    -fx-background-color: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
}

.root .list-section .infinite-content {
    -fx-padding: 5 15 5 15;
}

.root .list-section .poster-item {
    -fx-min-height: 368;
    -fx-max-height: 368;
    -fx-pref-height: 368;
    -fx-min-width: 250;
    -fx-max-width: 250;
    -fx-pref-width: 250;
    -fx-padding: 1;
}

.root .list-section .poster-item:focused,
.root .list-section .poster-item.watched:focused {
    -fx-opacity: 1;
}

.root .list-section .poster-item:focused .poster-image {
    -fx-border-color: transparent;
    -fx-border-width: 3px;
    -fx-border-style: solid;
}

.root .list-section .poster-item:focused .poster-image {
    -fx-border-color: #2d72d9;
}

.root .list-section .poster-item .poster-details {
    -fx-background-color: linear-gradient(rgba(23, 24, 27, 0.3) 0%, rgba(23, 24, 27, 0.8) 70%);
}

.root .list-section .poster-item .poster-details .title {
    -fx-font-size: 1.5em;
}

.root .list-section .poster-item:focused .title {
    -fx-text-fill: #2d72d9;
}

.root .list-section .poster-item .year,
.root .list-section .poster-item .seasons {
    -fx-font-size: 1em;
    -fx-text-fill: #737373;
    -fx-fill: #737373;
}

.root .list-section .poster-item:focused .year,
.root .list-section .poster-item:focused .seasons {
    -fx-text-fill: #fff;
}

.root .movie-details .overview,
.root .show-details-section .overview {
    -fx-font-size: 1.25em;
}

.root .movie-details .metadata Label,
.root .show-details-section .metadata Label {
    -fx-font-size: 1.25em;
}

.root .movie-details .metadata .separator,
.root .show-details-section .metadata .separator {
    -fx-font-size: 8px;
}

.root .movie-details .metadata .stars .star {
    -fx-font-size: 1.25em;
}

.root .movie-details .health,
.root .movie-details .subtitle,
.root .show-details-section .show-details .episode-overview .health {
    -fx-font-size: 1.25em;
}

.root .movie-details .subtitle.loading,
.root .show-details .subtitle.loading {
    -fx-text-fill: #2d8ef5;
}

.root .movie-details .subtitle.success,
.root .show-details .subtitle.success {
    -fx-text-fill: #2ad942;
}

.root .movie-details .subtitle.failed,
.root .show-details .subtitle.failed {
    -fx-text-fill: #d53f3f;
}

.root .content-section .movie-details .banner .top {
    -fx-min-height: 60;
    -fx-background-color: rgba(45, 114, 217, 0.7);
    -fx-padding: 5 0 7 0;
}

.root .content-section .movie-details .banner .bottom {
    -fx-min-height: 35;
    -fx-background-color: rgba(31, 35, 95, 0.5);
    -fx-padding: 5 0 0 0;
}

.root .content-section .movie-details .actions,
.root .content-section .show-details .actions {
    -fx-spacing: 20;
}

.root .content-section .movie-details .banner-actions .action,
.root .content-section .movie-details .actions .action,
.root .content-section .show-details .actions .action {
    -fx-alignment: center;
    -fx-spacing: 5;
    -fx-cursor: hand;
}

.root .content-section .movie-details .banner-actions .action Label,
.root .content-section .movie-details .actions .action Label,
.root .content-section .show-details .actions .action Label {
    -fx-font-family: "Open Sans Bold";
    -fx-text-fill: #ccc;
    -fx-font-size: 1.5em;
}

.root .content-section .movie-details .banner-actions .action .graphic {
    -fx-min-height: 60;
    -fx-max-height: 60;
    -fx-border-width: 0 0 4 0;
    -fx-border-color: transparent;
    -fx-border-style: solid;
    -fx-alignment: center;
    -fx-text-fill: #ccc;
    -fx-font-size: 3em;
    -fx-padding: 3 10 2 10;
}

.root .content-section .movie-details .banner-actions .action:focused .graphic,
.root .content-section .movie-details .banner-actions .action:hover .graphic {
    -fx-border-color: #fff;
    -fx-text-fill: #fff;
}

.root .content-section .movie-details .actions .action .button,
.root .content-section .show-details .actions .action .button {
    -fx-pref-width: 50;
    -fx-pref-height: 50;
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-background-radius: 10;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-border-color: #ccc;
    -fx-alignment: center;
    -fx-text-fill: #ccc;
    -fx-font-size: 2em;
}

.root .content-section .movie-details .banner-actions .action .button.text,
.root .content-section .movie-details .actions .action .button.text,
.root .content-section .show-details .actions .action .button.text {
    -fx-pref-width: 100;
    -fx-font-family: "Open Sans Bold";
    -fx-font-size: 1.5em;
}

.root .content-section .movie-details .actions .action .button.liked,
.root .content-section .show-details .actions .action .button.liked {
    -fx-text-fill: #df2d37;
}

.root .content-section .movie-details .actions .action .button.watched,
.root .content-section .show-details .actions .action .button.watched {
    -fx-text-fill: #fff;
}

.root .content-section .movie-details .actions .action:hover .button,
.root .content-section .movie-details .actions .action:focused .button,
.root .content-section .show-details .actions .action:hover .button,
.root .content-section .show-details .actions .action:focused .button {
    -fx-background-color: rgba(45, 114, 217, 0.6);
    -fx-border-color: #fff;
    -fx-text-fill: #fff;
}

.root .content-section .movie-details .banner-actions .action:hover Label,
.root .content-section .movie-details .banner-actions .action:focused Label,
.root .content-section .movie-details .actions .action:hover Label,
.root .content-section .movie-details .actions .action:focused Label,
.root .content-section .show-details .actions .action:hover Label,
.root .content-section .show-details .actions .action:focused Label {
    -fx-text-fill: #fff;
}

.root .content-section .overlay {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.root .content-section .overlay .list-view {
    -fx-background-color: transparent;
}

.root .content-section .overlay .list-view .list-cell {
    -fx-pref-width: 100;
    -fx-pref-height: 50;
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-background-radius: 10;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-border-color: #ccc;
    -fx-font-family: "Open Sans Bold";
    -fx-font-size: 1.5em;
    -fx-text-fill: #ccc;
    -fx-alignment: center;
    -fx-focus-traversable: true;
    -fx-cursor: hand;
}

.root .content-section .overlay .list-view .list-cell:focused {
    -fx-background-color: rgba(45, 114, 217, 0.6);
    -fx-border-color: #fff;
    -fx-text-fill: #fff;
}

.root .content-section .overlay .list-view .list-cell:empty {
    -fx-opacity: 0;
    -fx-focus-traversable: false;
}

.root .content-section .overlay .text-field {
    -fx-pref-width: 350;
    -fx-max-width: 350;
    -fx-pref-height: 50;
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-border-color: #ccc;
    -fx-font-family: "Open Sans Bold";
    -fx-font-size: 1.5em;
    -fx-text-fill: #ccc;
    -fx-focus-traversable: true;
    -fx-cursor: hand;
}

.root .show-details-section .show-header .poster {
    -fx-max-width: 298;
    -fx-max-height: 315;
}

.root .movie-details .metadata .rating,
.root .show-details-section .show-header .rating {
    -fx-padding: 0 0 0 5;
}

.root .show-details-section .show-header .title {
    -fx-font-size: 3em;
}

.root .show-details-section .show-header .metadata {
    -fx-font-size: 1.25em;
}

.root .show-details-section .show-header .overview {
    -fx-font-size: 1.5em;
}

.root .show-details-section .seasons {
    -fx-background-color: #1f375f;
    -fx-padding: 0 20 0 20;
}

.root .show-details-section .seasons .item {
    -fx-cursor: hand;
    -fx-font-family: "Open Sans Semibold";
    -fx-font-size: 1.5em;
    -fx-text-fill: #ccc;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 3 0;
    -fx-border-style: solid;
    -fx-padding: 10 15 10 15;
}

.root .show-details-section .seasons .item.active {
    -fx-font-family: "Open Sans Bold";
    -fx-text-fill: #fff;
    -fx-border-color: #fff;
}

.root .show-details-section .seasons .item:focused {
    -fx-text-fill: #fff;
    -fx-border-color: #2d72d9;
}

.root .show-details-section .episodes .table-row-cell:selected {
    -fx-background-color: #1f375f;
}

.root .show-details-section .episodes:focused .table-row-cell:selected {
    -fx-background-color: #2d72d9;
}

.root .show-details-section .show-details {
    -fx-padding: 0 15 0 15;
}

.root .show-details-section .show-details .episode-overview .episode-title {
    -fx-font-family: "Open Sans Bold";
    -fx-font-size: 2.5em;
}

.root .show-details-section .show-details .episode-overview .episode-meta {
    -fx-font-size: 1.25em;
}

.root .show-details-section .show-details .episode-overview .episode-synopsis {
    -fx-font-family: "Open Sans Semibold";
    -fx-font-size: 1.5em;
}

.root .player .player-controls {
    -fx-min-width: 500;
    -fx-max-width: 500;
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-background-radius: 1em;
    -fx-padding: 10 20 10 20;
}

.root .player .player-controls .control-button {
    -fx-pref-width: 50;
    -fx-pref-height: 50;
    -fx-background-radius: 10;
    -fx-border-color: #ccc;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-cursor: hand;
    -fx-font-size: 2em;
    -fx-text-fill: #ccc;
    -fx-alignment: center;
}

.root .player .player-controls .control-button:hover,
.root .player .player-controls .control-button:focused {
    -fx-background-color: rgba(45, 114, 217, 0.6);
    -fx-border-color: #fff;
    -fx-text-fill: #fff;
}

.root .player .player-controls .time {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #fff;
    -fx-font-size: 1.25em;
}

.root .content-section .settings-section .settings-title {
    -fx-font-size: 2em;
}

.root .content-section .settings-section .list-view {
    -fx-max-width: 250px;
}

.root .content-section .settings-section .sub-section .text {
    -fx-font-size: 1.25em;
}

.root .content-section .settings-section .sub-section .subsection-title {
    -fx-min-width: 400;
    -fx-max-width: 400;
}

.root .content-section .settings-section .sub-section .subsection-title .text {
    -fx-font-size: 1.5em;
}

.root .content-section .settings-section .sub-section .combo-box {
    -fx-cursor: hand;
}

.root .content-section .settings-section .sub-section .combo-box:focused {
    -fx-background-color: #2d72d9;
}

.root .content-section .settings-section .sub-section .combo-box .label {
    -fx-pref-width: 300px;
    -fx-max-width: 300px;
    -fx-background-color: transparent;
    -fx-padding: 3 5 3 5;
}

.root .content-section .settings-section .sub-section .combo-box:focused .label {
    -fx-text-fill: #fff;
}

.root .content-section .settings-section .sub-section .combo-box .arrow-button {
    -fx-padding: 0 8 0 8;
}

.root .content-section .settings-section .sub-section .combo-box .arrow-button .arrow {
    -fx-pref-width: 8px;
    -fx-max-width: 8px;
    -fx-pref-height: 4px;
    -fx-max-height: 4px;
}

.root .content-section .settings-section .sub-section .check-box .box {
    -fx-border-width: 2;
    -fx-border-color: transparent;
}

.root .content-section .settings-section .sub-section .check-box:focused {
    -fx-text-fill: #2d72d9;
}

.root .content-section .settings-section .sub-section .check-box:focused .box {
    -fx-border-color: #2d72d9;
}
