@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Regular.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url("../fonts/OpenSans-Bold.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Semibold';
    src: url("../fonts/OpenSans-Semibold.woff");
    font-weight: normal;
    font-style: normal;
}

.root,
.root InfiniteScrollPane,
.root InfiniteScrollPane > .viewport,
.root InfiniteScrollPane .scroll-bar,
.root ComboBox .scroll-bar,
.root .header .bar,
.root .tooltip {
    -fx-background-color: #17181b;
    -fx-border-width: 0;
}

.root .tooltip {
    -fx-font-smoothing-type: gray;
}

.root InfiniteScrollPane .scroll-bar,
.root ComboBox .list-view .scroll-bar {
    -fx-padding: 0 3 0 0;
}

.root InfiniteScrollPane .increment-arrow,
.root InfiniteScrollPane .decrement-arrow,
.root ComboBox .list-view .increment-arrow,
.root ComboBox .list-view .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0em 0.0;
}

.root InfiniteScrollPane .track,
.root ComboBox .list-view .track {
    -fx-background-color: #30333c;
    -fx-border-color: transparent;
    -fx-background-radius: 2em;
    -fx-border-radius: 0em;
}

.root InfiniteScrollPane .increment-button,
.root InfiniteScrollPane .decrement-button,
.root ComboBox .list-view .increment-button,
.root ComboBox .list-view .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0 8 0 0;
}

.root InfiniteScrollPane .thumb,
.root ComboBox .list-view .thumb {
    -fx-background-color: #83888c;
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.root InfiniteScrollPane .thumb:hover,
.root ComboBox .list-view .thumb:hover {
    -fx-background-color: #93989c;
}

.root .stars Icon {
    -fx-padding: 0 2 0 0;
    -fx-opacity: 1;
    -fx-font-smoothing-type: gray;
}

.root .stars .empty {
    -fx-text-fill: #a3a5a7;
}

.root .stars .filled {
    -fx-text-fill: #ffc900;
}

.root .header .shadow {
    -fx-pref-height: 10;
    -fx-background-color: linear-gradient(rgba(0, 0, 0, 1) 10%, rgba(255, 255, 255, 0) 100%);
}

.root .header Label {
    -fx-font-family: "Open Sans Semibold";
    -fx-font-size: 12.5;
    -fx-font-smoothing-type: gray;
    -fx-text-fill: #c3c5c7;
    -fx-cursor: hand;
    -fx-text-alignment: center;
    -fx-padding: 10 15 5 18;
}

.root .header Label:hover {
    -fx-text-fill: #fff;
}

.root .header .bar .filter-nav-bar .active {
    -fx-border-width: 0 0 4 0;
    -fx-border-color: #2d72d9;
}

.root .header .bar .filter-bar Label {
    -fx-padding: 10 5 5 18;
}

.root .header .bar .filter-bar ComboBox {
    -fx-min-width: 100;
    -fx-max-width: 100;
    -fx-padding: 6 0 0 0;
    -fx-cursor: hand;
    -fx-background-color: transparent;
}

.root .header .bar .filter-bar ComboBox > .list-cell {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #2d72d9;
    -fx-font-smoothing-type: gray;
}

.root .header .bar .filter-bar .filterGroup ComboBox .arrow {
    -fx-padding: 5 8 0 0;
    -fx-background-color: #c3c5c7;
}

.root .header .bar .filter-bar .filterGroup:hover ComboBox .arrow {
    -fx-background-color: #fff;
}

.root .header .bar .filter-bar .filterGroup ComboBox .scroll-bar {
    -fx-padding: 0 0 0 0;
}

.root .header .bar .filter-bar .filterGroup ComboBox .scroll-bar,
.root .header .bar .filter-bar .filterGroup ComboBox .list-view,
.root .header .bar .filter-bar .filterGroup ComboBox .list-view .list-cell {
    -fx-background-color: rgba(23, 24, 27, 0.8);
}

.root .header .bar .filter-bar .filterGroup ComboBox .list-view .list-cell {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #c3c5c7;
    -fx-font-smoothing-type: gray;
    -fx-cursor: hand;
}

.root .header .bar .filter-bar .filterGroup ComboBox .list-view .list-cell:selected {
    -fx-text-fill: #fff;
    -fx-background-color: #0b131f;
    -fx-border-width: 0 0 0 4;
    -fx-border-color: #c3c5c7;
    -fx-border-style: solid;
}

.root .header .bar .filter-bar .filterGroup ComboBox .list-view .list-cell:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #0b131f;
    -fx-border-width: 0 0 0 4;
    -fx-border-color: #2d72d9;
    -fx-border-style: solid;
}

.root .poster-item {
    -fx-padding: 10;
    -fx-min-height: 252;
    -fx-max-height: 252;
    -fx-min-width: 154;
    -fx-max-width: 154;
    -fx-cursor: hand;
}

.root .poster-item.watched {
    -fx-opacity: 0.4;
}

.root .poster-item:hover {
    -fx-opacity: 1;
}

.root .poster-item .poster .poster-image {
    -fx-pref-width: 134;
    -fx-pref-height: 196;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.root .poster-item:hover .poster .poster-image {
    -fx-effect: dropshadow(three-pass-box, #2d72d9, 15, 0, 0, 0);
}

.root .poster-item .poster .overlay {
    visibility: hidden;
    -fx-background-color: rgba(23, 24, 27, 0.6);
}

.root .poster-item .poster:hover .overlay {
    visibility: visible;
}

.root .poster-item .poster .overlay .view,
.root .poster-item .poster .overlay .like {
    -fx-text-fill: #fff;
    -fx-opacity: 0.3;
}

.root .poster-item .poster .overlay .view:hover,
.root .poster-item .poster .overlay .like:hover {
    -fx-text-fill: #2d72d9;
    -fx-opacity: 1;
}

.root .poster-item .poster .overlay Label {
    -fx-font-family: "Open Sans Bold";
    -fx-text-fill: #fff;
    -fx-font-size: 1em;
    -fx-font-smoothing-type: gray;
}

.root .poster-item .title {
    -fx-font-family: "Open Sans Semibold";
    -fx-font-size: 1em;
    -fx-text-fill: #fff;
    -fx-font-smoothing-type: gray;
    -fx-padding: 4 0 2 0;
}

.root .poster-item .year {
    -fx-text-fill: #5b5b5b;
    -fx-fill: #5b5b5b;
    -fx-font-size: 0.85em;
}

.root .details .background-cover {
    -fx-background-color: #000;
    -fx-opacity: 0.65;
}

.root .details .close-button {
    -fx-text-fill: #ccc;
    -fx-cursor: hand;
}

.root .details .close-button:hover {
    -fx-text-fill: #fff;
}

.root .details .poster-image {
    -fx-background-radius: 2em;
}

.root .details .title {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #fff;
    -fx-font-size: 38px;
    -fx-font-smoothing-type: gray;
    -fx-padding: 0 0 0 0;
}

.root .details .metadata Label {
    -fx-font-family: "Open Sans Bold";
    -fx-text-fill: #fff;
    -fx-font-size: 1em;
    -fx-font-smoothing-type: gray;
}

.root .details .metadata .separator {
    -fx-text-fill: #dbdbdd;
    -fx-font-size: 5px;
    -fx-padding: 0 10 0 10;
    -fx-font-smoothing-type: gray;
}

.root .details .overview {
    -fx-font-family: "Open Sans Semibold";
    -fx-text-fill: #fff;
    -fx-font-size: 1em;
    -fx-font-smoothing-type: gray;
}

.root .details .magnet-link {
    -fx-text-fill: #ddd;
    -fx-cursor: hand;
    -fx-padding: 0 8 0 8;
}

.root .details .magnet-link:hover {
    -fx-text-fill: #fff;
}

.root .details .health {
    -fx-text-fill: #737577;
}

.root .details SplitMenuButton,
.root .details SplitMenuButton .label,
.root .details SplitMenuButton .arrow-button,
.root .details Button {
    -fx-font-family: "Open Sans Bold";
    -fx-background-color: #1f375f;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}

.root .details SplitMenuButton .label,
.root .details SplitMenuButton .arrow-button,
.root .details Button {
    -fx-padding: 10 15 10 15;
}

.root .details SplitMenuButton:hover .label,
.root .details SplitMenuButton:hover .arrow-button,
.root .details Button:hover {
    -fx-background-color: #225694;
}

.root .details SplitMenuButton .arrow-button {
    -fx-border-width: 0 0 0 1;
    -fx-border-color: rgba(255,255,255,0.2);
}

.root .details SplitMenuButton .arrow-button .arrow {
    -fx-background-color: #fff;
}