name: Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "**"

jobs:
  build_and_test_java:
    name: Build and Test (Java)
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: 21
          cache: 'maven'
      - name: Test
        run: |
          xvfb-run -a make test-java
      - name: 'Upload Coverage'
        uses: actions/upload-artifact@v4
        with:
          name: jacoco
          path: ./application/target/site/jacoco-aggregate/jacoco.xml
          retention-days: 2

  build_and_test_linux:
    name: Build and Test (Linux)
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "main-linux"
          cache-on-failure: "true"
      - name: Test
        run: |
          sudo apt-get update && sudo apt-get install -y libdbus-1-dev pkg-config vlc
          make test-cargo
      - name: 'Upload Coverage'
        uses: actions/upload-artifact@v4
        with:
          name: lcov
          path: ./target/lcov.info
          retention-days: 2

  build_and_test_macos:
    name: Build and Test (MacOS)
    runs-on: macos-latest
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "main-macos"
          cache-on-failure: "true"
      - name: Install VLC
        run: |-
          brew update && brew install --cask vlc
      - name: Test
        run: |-
          make test-cargo

  build_and_test_windows:
    name: Build and Test (Windows)
    runs-on: windows-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "main-windows"
          cache-on-failure: "true"
      - name: Test
        run: |-
          make test-cargo

  test_coverage:
    name: Test coverage
    runs-on: ubuntu-latest
    needs:
      - build_and_test_java
      - build_and_test_linux
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v5
      - name: Download Java coverage
        uses: actions/download-artifact@v4
        with:
          name: jacoco
          path: ./application/target/site/jacoco-aggregate/
          merge-multiple: true
      - name: Download Cargo coverage
        uses: actions/download-artifact@v4
        with:
          name: lcov
          path: ./target/
          merge-multiple: true
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./application/target/site/jacoco-aggregate/jacoco.xml,./target/lcov.info
          flags: unittests
          name: codecov-umbrella

  build:
    name: Build application
    runs-on: ubuntu-latest
    needs:
      - test_coverage
      - build_and_test_macos
      - build_and_test_windows
    timeout-minutes: 10

    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        distribution: 'adopt'
        java-version: 21
        cache: 'maven'
    - uses: Swatinem/rust-cache@v2
      with:
        shared-key: "main-linux"
        cache-on-failure: "true"
    - name: Build
      run: |
        sudo apt install libdbus-1-dev pkg-config
        make build

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - name: Run rustfmt
        run: cargo fmt --all -- --check
