name: Package

on:
  workflow_dispatch:
    inputs: {}
  push:
    tags: [ '*' ]

jobs:
  package_linux:
    name: Package (Linux)
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: 21
          cache: 'maven'
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "main-linux"
      - name: Prepare packaging
        run: make prerequisites
      - name: Package
        run: |
          sudo apt install libdbus-1-dev pkg-config
          xvfb-run make package
      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-package
          path: |
            target/popcorn-time_*.deb
            target/patch_*.tar.gz

  package_macos_x64:
    name: Package (MacOS X64)
    runs-on: macos-latest-large
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: 21
          cache: 'maven'
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "main-macos"
      - name: Prepare packaging
        run: make prerequisites
      - name: Package
        run: make package
      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: macos-x64-package
          path: |
            target/popcorn-time_*.dmg
            target/patch_*.tar.gz

  package_macos_arm64:
    name: Package (MacOS ARM64)
    runs-on: macos-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: 21
          cache: 'maven'
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "main-macos"
      - name: Prepare packaging
        run: make prerequisites
      - name: Package
        run: make package
      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: macos-arm64-package
          path: |
            target/popcorn-time_*.dmg
            target/patch_*.tar.gz
  
  package_windows:
    name: Package (Windows)
    runs-on: windows-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: 21
          cache: 'maven'
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "main-windows"
      - name: Prepare libraries
        run: cd ./assets/windows && ./prepare-libs.bat
      - name: Prepare packaging
        run: make prerequisites
      - name: Package
        run: make package
      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-package
          path: |
            target/popcorn-time_*.exe
            target/patch_*.tar.gz